body {
  background-color: lightcyan;
  background-image: url(../img/4f9ed456e423bc97efbdac4272e159b9.jpg);
}

section img {
  /* image dans chaque section */
  width: 100%;
  height: 180px;
}

section {
  /* texte Section 1 2 et 3 */
  font-family: "Cookie", cursive;
  font-weight: bold;
  font-size: 20px;
}

p {
  /* texte paragraphe dans chaque section */
  font-family: "Cookie", cursive;
  font-weight: lighter;
  font-size: 100%;
  width: 360px;
}

h1 {
  /* titre header "Ma page HTML" */
  font-family: "Satisfy", cursive;
  text-align: center;
  border: 2px solid rgb(136, 175, 188);
  background-color: lightblue;
}

figure {
  border: thin black solid;
  display: flex;
  flex-flow: column;
  margin: auto;
  padding: 0px;
  width: 350px;
}

figcaption {
  color: lightskyblue;
  font: smaller sans-serif;
  padding: 3px;
  text-align: center;
  font-family: "Cookie", cursive;
  font-size: 30px;
}

main {
  /* main contenant les trois sections */
  display: inline-block;
  padding: 5%;
  width: 300px;
  margin-left: 90px;
}

h2 {
  /* Section 1, section 2 et section 3 */
  text-align: center;
}

footer {
  /* Retour en haut de ma page */
  color: aquamarine;
  text-align: center;
}
